.highlightText {
	background-color:#c6b3ce;
	color:white;
	width:100%;
	text-align:center;
	padding:1px;
}

.title {
	text-align:center;
	color:blue;
	background-color:red;
	font-family: 'Assistant', thin;
}

.image {
	align-content:center;
}

.email {
	text-align:center;
	color:#fc53da;
	font: 'Shadows Into Light';
}

.form {
	color: red;
	text-align: center;
}

.link {
	text-align:center;
}

.line {
	color:#fffff;
	border-width:5px;
	<!-- border-color:red; -->
}