.highlightText {
	background-color:#c6b3ce;
	color:white;
	width:100%;
	text-align:center;
	padding:1px;
}

.title {
	text-align:center;
	color:blue;
	background-color:red;
}

.image {
	align-content:center;
}